@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  overflow: hidden;
  font-family: "Lato", serif;
  height: 100vh;
}

header {
  position: relative;
  height: 95vh;
  .container {
    max-width: $container-width;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    .text {
      position: relative;
      z-index: 1;
      h1 {
        span {
          transition: 3s ease-in-out;
          &:hover {
            color: darkturquoise;
            transition: 0.25s ease-in-out;
          }
        }
        font-size: 12rem;
        color: $main-color;
        opacity: 0;
        animation: h1fly 2s forwards ease-out;
        animation-delay: 0.5s;
      }

      .subtext {
        animation: h1fly 2s forwards ease-out;
        animation-delay: 0.5s;
        opacity: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        p {
          color: $main-color;
          display: inline-block;
        }
        .icons {
          i {
            z-index: 1;
            color: $main-color;
            display: inline-block;
            padding: 0 0.5rem;
            transition: 1s ease-in;
            &:hover {
              color: turquoise;
              transition: 1s ease-in-out;
            }
          }
        }
      }
    }
    model-viewer {
      animation: modelfly 2s forwards ease-out;
      animation-delay: 0.5s;
      opacity: 0;
      width: 500px;
      height: 500px;
      text-align: left;
    }
  }

  .header-particles {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  max-width: $container-width;
  margin: 0 auto;
  text-align: center;
  height: 5vh;
  color: $main-color;
  a {
    color: $main-color;
  }
}

@keyframes h1fly {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modelfly {
  0% {
    transform: translateX(3000px);
    opacity: 1;
  }
  50% {
    transform: translateX(1000px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes getLost {
  99% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateX(1000px);
  }
}

@import "media";
